¡
E
Formulación estratégica
3
estrategia adecuada para otras actividades y/o unidades estratégicas. La estrategia de cada unidad es en si
autónoma, si bien no independiente de las de las demás unidades estratégicas puesto que se integran en la
estrategia de la empresa. Cada UEN tendrá su propia misión distintiva y competidores diferentes. Esto le
permite a la UEN tener una estrategia independiente de los otros negocios de la organización mayor
3.-Estrategia funcional. La estrategia a nivel funcional buscar responder a la pregunta: ¿cómo podemos
apoyar la estrategia a nivel de negocios? Para las organizaciones que cuentan con departamentos funcionales
tradicionales como producción, marketing, recursos humanos, investigación y desarrollo y finanzas, estas
estrategias deben apoyar la estrategia a nivel de negocios. A este tercer y último nivel la cuestión es cómo
utilizar y aplicar los recursos y habilidades dentro de cada área funcional existente en cada actividad o cada
unidad estratégica, a fin de maximizar la productividad de dichos recursos.
3.2. Formulación de la estrategia empresarial.
El proceso de dirección estratégica es un proceso de 7 pasos, que involucra la planificación estratégica,
la implantación de la estrategia y la evaluación y control de la misma. Mientras la planificación estratégica
abarca los cinco primeros pasos, hasta las mejores estrategias no podrían alcanzar el éxito, si la administración
falla bien al implantarlas o al evaluar sus resultados. Estos pasos son los siguientes:
1.- Identificación de la misión, objetivo y estrategias actuales de la organización.
2.- Análisis del entorno. Este trata de determinar qué cambios en los factores o en las condiciones del medio en
el que la empresa desarrolla su actividad pueden ser aprovechados por la empresa o bien suponen un peligro
para ella. En definitiva, se trata identificar las oportunidades y amenazas en el entorno de la empresa.
3.- Análisis interno. Con este análisis pretendemos determinar qué recursos y capacidades tiene la empresa,
tanto actuales como potenciales, y que constituyen los puntos fuertes y débiles de la empresa respecto a sus
competidores.
4.- Revisión de la misión y objetivos de la organización. Se trata de determinar si tanto la misión como los
objetivos preestablecidos son susceptibles de ser alcanzados a tenor de los análisis de las dos fases anteriores.
De no ser así la finalidad de esta fase debe ser la modificación de la misión u objetivos adaptándolos a las
nuevas condiciones en las que la empresa desarrolla su actividad.
5.- Formulación de la estrategia. Se seleccionará la estrategia adecuada para la consecución de los objetivos en
función de la cartera de negocios de la empresa.
6.- Implantación de la estrategia.
7.- Control o evaluación de resultados. Se trata de medir si con la estrategia implantada hemos conseguido los
objetivos planificados.
¡
E
Formulación estratégica
4
3.3.- Tipos de estrategia
Según Menguzzato y Renau (1991), existen dos alternativas fundamentales: el concepto de ciclo de vida
de la empresa y el concepto de estrategia competitiva, que permiten definir las estrategias posibles. El conjunto
de estrategias derivadas de estos dos conceptos aparecen recogidos en el esquema siguiente:
1.- Estrategias según el ciclo de vida de la empresa:
1.1.- Estrategias de crecimiento:
- Estrategias de crecimiento estable
- Estrategias de crecimiento.
- Concentración en un solo producto o servicio
- Diversificación.
- Integración vertical
1.2.- Estrategias de estabilidad y supervivencia: tienen naturaleza defensiva
- Estrategias de saneamiento
- Estrategia de cosecha
- Estrategia de desinversión y liquidación.
2.- Estrategias competitivas:
- Estrategia de liderazgo en costes.
- Estrategia de diferenciación.
- Estrategia de enfoque o alta segmentación.
1.- Estrategias según el ciclo de vida de la empresa.
Se indica que la empresa pasa por sucesivas etapas( crecimiento, madurez o estabilidad y declive);
esto no imposibilita que cualquier empresa pueda mantenerse indefinidamente en alguna de ellas si diseña y
utiliza la estrategia adecuada. En esta situación se habla de estrategias de crecimiento y de estrategias de
estabilidad y supervivencia.
1.1.- Estrategias de crecimiento.
Pueden ser desarrolladas mediante crecimiento interno, es decir, recurriendo a la inversión en nuevos
equipos productivos, nuevas instalaciones, etc., o acudiendo al crecimiento externo, esto es, la adquisición,
fusión u otras alternativas. Distinguimos:
a) Estrategias de crecimiento estable.
¡
E
Formulación estratégica
5
Son unas estrategias conservadoras, continuistas y defensivas sin ánimo de pretender incrementar la
participación en el mercado. La tasa de crecimiento es la misma que en ejercicios anteriores.
b) Estrategias de crecimiento.
Estas estrategias contrariamente a las anteriores, están más orientadas a aumentar la participación de
las empresas en el mercado o mercados en los que opera, a extender su ámbito de acción a otros
mercados y/o a dotar a la empresa de nuevos productos. Cabría citar, de un lado, las de
concentración o aquéllas que centran el crecimiento de la empresa en un solo producto o servicio o
en una línea concreta de productos, tratando de incrementar las ventas mediante la extensión de
dichas ventas a otros sectores, zonas geográficas o grupos de clientes.
La estrategia de diversificación supone para la empresa el desarrollo de nuevos productos para los
mercados en los que ya opera, de la comercialización de los productos actuales en nuevos mercados,
o bien del desarrollo de nuevos productos para nuevos mercados.
Con la estrategia de integración vertical, la empresa persigue crecer mediante la extensión de su
gama de actividades, manteniendo sus actuales productos o servicios. En definitiva la empresa
pasaría a desarrollar actividades anteriores o posteriores a las actividades de la cadena de valor de los
productos necesarias en para la obtención de los productos o servicios que comercializa y que en la
actualidad no son llevadas a cabo por ella.
1.2. Estrategias de estabilidad y supervivencia.
a) Estrategia de saneamiento.
Las aplicaremos ante fases de inestabilidad para tratar de frenar caída de las ventas y de los
beneficios, incrementando la eficiencia de empresa y saneando su situación económico-financiera. Con este
fin se procede: a la sustitución de la alta dirección, a la supresión de algunos activos o el empleo de estos en
otras actividades buscando mayor eficacia, a la reducción de costes en existencias, personal, etc.
b)Estrategia de cosecha.
Cuando la situación de una empresa es relativamente buena a pesar de sufrir un declive en sus
ventas, pero sin llegar a resultados negativos y a situaciones de insolvencia, resulta conveniente la
implantación de este tipo de estrategia que, básicamente, consiste en una reducción de inversiones en
aquellas actividades poco o nada rentables, reduciendo costes y generando una liquidez que será utilizada
para sanear la empresa y reemprender de nuevo el crecimiento.
c) Estrategia de desinversión y liquidación.
¡
E
Formulación estratégica
6
Esta estrategia deberá ponerse en práctica cuando las dos estrategias mencionadas anteriormente se
muestren ineficaces, dándose un agravamiento en la situación de la empresa y consistirá en la venta de partes
de la empresa, procediendo a una reestructuración interna, con el objeto de reiniciar posteriormente una
actividad desde una dimensión mucho más reducida. Esta liquidación de actividades va a permitir reducir
costes, hacer frente al pago de las deudas e incluso realizar nuevas inversiones buscando mayor eficiencia.
En el peor de los casos estas estrategias sirven para una liquidación total, más o menos progresiva de la
empresa.
2.- Estrategias competitivas.
Una estrategia competitiva tiene por objeto asegurar a la empresa una ventaja competitiva sostenible y
duradera, frente a las fuerzas competitivas de un mercado concreto. A partir del análisis externo e interno de la
empresa (análisis DAFO) Porter (1982) propone las llamadas estrategias genéricas, definiendo a la estrategia
competitiva “como emprender acciones ofensivas o defensivas para crear una posición defendible en un sector
industrial, para enfrentarse con éxito a las cinco fuerzas competitivas y obtener así un rendimiento superior
sobre la inversión para la empresa”. Las tres estrategias genéricas son: liderazgo en costes, diferenciación y
enfoque o alta segmentación. Las dos primeras se plantean en empresas que compiten en todo un sector o
industria (calzado, mueble, juguetes, textil, etc.), mientras que la tercera, es apta para competir en un segmento
particular de un sector industrial o mercado (mueble para oficina, textil-hogar, etc.)
2.1. Estrategia de liderazgo en costes.
Consiste en fabricar uno o varios productos incurriendo en unos costes menores que la competencia,
aunque no pueden descuidarse del todo aspectos como la calidad, el servicio etc. El liderazgo en costes requiere
que se den, entre otras, situaciones como las enumeradas a continuación:
- El acceso favorable a las materias primas.
- Un diseño adecuado de los productos para facilitar su fabricación
- Búsqueda de economías de escala y efecto experiencia
- Precios agresivos y pérdidas iniciales para lograr la participación en el mercado, de tal manera que una
vez lograda ésta, los bajos costes proporcionen altos beneficios que pueden reinvertirse en nuevas
instalaciones y equipo que permitan mantener el liderazgo.
- Rígidos controles de costes y gastos indirectos.
-Fuerte inversión inicial en capital productivo.
A pesar de las ventajas que presenta el liderazgo en costes, también tiene sus riesgos, como la
inflexibilidad que muestran las empresas ante cambios en la demanda o ante la innovación tecnológica.
¡
E
Formulación estratégica
7
Además, su obsesiva preocupación por los costes puede llevar a reducir su inversión para I+D, dejando
claramente olvidado al entorno.
2.2. Estrategia de diferenciación.
Esta estrategia consiste en ofrecer un producto que el consumidor considere distinto a los ofertados por
los competidores, lo que le mueve a pagar un precio superior por él. Con esta estrategia la empresa consigue
aislarse de la rivalidad competitiva debido a la lealtad de los clientes y a la menor sensibilidad al precio
resultante. No obstante, esta estrategia tiene ciertos riesgos como puede ser la entrada de imitadores en el
mercado que oferten unos precios algo menores.
Una empresa va a disponer de una amplia gama de elementos para distinguir su producto de la
competencia; de esta forma puede optar por dos maneras de diferenciar su producto:
-Potenciar las características intrínsecas del producto: calidad, diseño, tecnología e innovación.
-Emplear las variables del marketing, como son los sistemas de distribución, promoción,
publicidad y las características extrínsecas del producto: envase, marca, amplitud de gama e
imagen social.
2. 3. Estrategia de enfoque o alta segmentación.
Va a consistir en centrarse en un grupo concreto de clientes o en una determinada área geográfica.
Limitado el ámbito de su competencia esta estrategia puede ser a su vez de liderazgo en costes o de
diferenciación con las consabidas ventajas e inconvenientes que ambas estrategias presentan.
3.4.- Innovación y competitividad.
A menudo, los costes de los factores y la rigidez del mercado laboral son argumentos esgrimidos por
los empresarios como detonantes de las crisis de sus negocios, sin llegar a asumir en ningún caso que dichas
crisis no tienen su origen en una mala gestión de sus negocios de la que serían directamente responsables. La
justificación de estas situaciones nada deseables estaría en una serie de factores externos que escapan al
control del empresario, por ejemplo, los altos costes laborales que impiden el despido libre, los elevados
costes energéticos, los altos tipos de interés, etc.
Sin embargo, el problema de la competitividad es cada vez más un problema de competencia poco
convencional. Las soluciones no surgen porque los nuevos competidores sean cada vez más eficientes que
los líderes del pasado, sino porque son significativamente más heterodoxos. Descubren las nuevas soluciones
porque están dispuestos a olvidarse de lo antiguo y mirar más allá (Hamel y Prahalad, 1995).
¡
E
Formulación estratégica
8
Así pues, una alternativa eficaz para incrementar la competitividad de las empresas de una economía
a largo plazo y elevar el nivel de vida de un país, consiste en fabricar productos de alto valor añadido,
fundamentalmente innovadores. Esta prioridad competitiva se consigue con independencia del tamaño
empresarial, si bien son necesarias dos tipos de actuaciones:
1.- Desarrollar una estructura organizativa flexible, que facilite la creatividad y participación de los
trabajadores en la obtención de productos de alto valor añadido.
2.- Invertir en tecnología y formación.
Esta forma de concebir la competitividad empresarial, basada en la creatividad y en la capacidad de
innovar, es responsabilidad exclusiva de empresarios y directivos; y resulta cada vez más necesaria para
hacer frente a los cambios turbulentos que impregnan los mercados actuales. Cualquier innovación permite
disfrutar a la empresa que la desarrolla, de una situación de monopolio transitorio en el mercado que le
reporta beneficios extraordinarios, y que acabará cuando los competidores directos, atraídos por esos
beneficios, acaben imitándola e incorporen dicha innovación en sus productos.
Para ver cómo y por qué se da la creatividad, debemos distinguir claramente los dos componentes
básicos del proceso de innovación: el invento y la innovación. La distinción entre ambos se debe
fundamentalmente a Schumpeter quien consideraba que los inventos no tienen por qué conducir
necesariamente a innovaciones. Para que un invento pueda ser considerado una innovación debe ser
comercializado en el mercado. Con esta premisa, existirán inventos que no serán comercializados de forma
inmediata, lo más normal es que desde la gestación hasta la comercialización del invento transcurra un
tiempo, e incluso otros que nunca llegarán a ser comercializados.
Las innovaciones, con carácter general, pueden ser calificadas de radicales o incrementales. La
innovación radical se define como un cambio en la función de producción de carácter histórico en la manera
de hacer las cosas. Este tipo de innovación se caracteriza, entre otras cosas, porque suele abrir mercados y
aplicaciones potenciales, porque crea grandes dificultades a las empresas establecidas y porque puede
suponer la base para la entrada con éxito de nuevas empresas e incluso la redefinición de la industria.
Por su parte, las innovaciones incrementales son mejoras que se realizan sobre la tecnología
existente, es decir, introducen cambios relativamente menores en los productos y procesos actuales, explotan
el potencial del diseño establecido y refuerzan el dominio de las empresas que lo comercializan.
Una vez definidas y clasificadas las innovaciones, el paso siguiente sería determinar qué hay tras
ellas, de dónde surgen o, lo que es lo mismo, cuál puede ser su origen. Peter Drucker.(1997), destaca 7
fuentes de innovación divididas en dos grupos.
¡
E
Formulación estratégica
9
El primer grupo está formado por las fuentes que se hallan dentro de la empresa y son las siguientes:
1.- Lo inesperado: el éxito inesperado, el fracaso inesperado, la sorpresa.
2,- Lo incongruente: entre la realidad como es y lo que se supuso “debía ser”.
3.- La innovación que se basa en la necesidad de un proceso.
4.- El desmoronamiento, el cambio súbito en la estructura de la industria o del mercado, que coge
desprevenido. El segundo conjunto de fuentes de oportunidades para innovar son los cambios
producidos fuera de la empresa o de la industria, destacamos las tres siguientes:
5.- Cambios en la población
6.- Cambios en la percepción, talante y significado.
7.- Nuevos conocimientos, tanto científicos como de otros campos.
A pesar, de que estas fuentes de innovación son comunes para la mayoría de las empresas, existen
algunas hipótesis que sientan diferencias en la capacidad de innovación de las empresas.
En este sentido, Schumpeter estableció que existe una relación positiva entre la capacidad de
innovación y el poder de monopolio. Para el establecimiento de esta hipótesis el autor se basa, entre otras, en
ideas como, el riesgo y por ende las dificultadas para encontrar financiación que suponen las actividades de
investigación y desarrollo, la mayor facilidad para contratar a personas innovadoras, la rápida y continua
innovación es una forma de crear barreras a la entrada de nuevas empresas que debilitan la posición de
monopolio, pueden proteger sus patentes mejor de los imitadores, el propio poder que ejerce sobre los
canales de distribución o su fuerte imagen corporativa extensibles ambos a nuevos productos que reporten
nuevos beneficios.
Asimismo, Galbraith estableció que las empresas grandes son más innovadoras que las pequeñas
basándose en ideas como que algunas innovaciones requieren de una gran cantidad de recursos de toda
índole para ser una realidad, todo proyecto de investigación y desarrollo lleva implícito un riesgo de fracaso
más soportable para las grandes empresas que pueden financiar más de un proyecto a la vez, la imagen de
marca y la reputación de las grandes permite explotar mejor los inventos materializados en innovaciones, al
ser la I+D un coste de naturaleza fija las grandes empresas soportan menores costes medios al poder
atribuirlos a un mayor número de productos.
Tal como apuntábamos al inicio del epígrafe, las innovaciones otorgan una situación de privilegio a
las empresas que las desarrollan envidiada por los rivales directos que rápidamente empezarán a imitarla. La
pregunta entonces sería: ¿qué pueden hacer las empresas para proteger sus innovaciones de sus rivales
directos?.
¡
E
Formulación estratégica
10
Una posibilidad, la más lógica es guardar un celoso secreto y velar porque el proceso de desarrollo
de la innovación en los productos no caiga en manos de la competencia. Así la fórmula de la coca cola es
uno de los secretos empresariales mejor guardados de la historia.
Otra posibilidad consistiría en hacer uso de los instrumentos que los distintos Estados de derecho
ponen a disposición de las empresas y, en general, de los inventores para proteger sus inventos. Nos estamos
refiriendo al establecimiento de derechos sobre la propiedad industrial o las patentes. La patente no es más
que un título de propiedad otorgado por el Estado que concede a su titular el derecho a la protección legal
para excluir a personas no autorizadas, durante un número específico de años, del empleo comercial de una
invención tecnológica nueva, útil y claramente identificada. Al mismo tiempo, la patente cumple con una
función de información, puesto que las invenciones patentadas son objeto de varias descripciones y
publicaciones.
En España, para la obtención de una patente habrá de presentarse una solicitud ante la Oficina
Española de Patentes y Marcas (OEPYM). Este privilegio dura, al igual que en la mayor parte de
legislaciones de otros países entorno a 20 años a contar desde la fecha de presentación de la solicitud en la
OEPYM, ahora bien, no todos los productos gozan de una protección temporal tan elevada. Para que la
patente siga en vigor durante el tiempo concedido el titular de la misma deberé hacer frente al pago de unas
tasas anuales de mantenimiento.
Nuestro derecho, también regula la posibilidad de ostentar la titularidad de un “modelo de utilidad”
que, de forma resumida sirve, para proteger invenciones de menor entidad que las protegidas por patentes.
Será la OEPYM, en cualquier caso, quien juzgue en cada caso la entidad de la invención cuya
protección se solicita, bien sea como patente , bien como modelo de utilidad.
3.5.- Responsabilidad social de la empresa.
Los cambios del entorno en estas últimas décadas han puesto de manifiesto la necesidad de elaborar una
teoría social de la empresa, que analiza la responsabilidad social de la empresa y la ética de los negocios que la
misma lleva a cabo.
El cambio social del último tercio del siglo 20 se ha concretado en lo que algunos autores han definido
como la nueva cultura del ciudadano y segundo, en una mayor vertebración de la sociedad civil, creándose
asociaciones, grupos sociales de opinión que se preocupan por el poder creciente de las organizaciones en el
sistema económico. La nueva cultura del ciudadano se puede concretar en tres aspectos:
¡
E
Formulación estratégica
11
1.- En la demanda de empresas eficientes, cuyos costes de producción o de transacción sean menores a
los costes del mercado que sustituyen.
2.- En un mejor conocimiento de como la empresa afecta a la creación de economías externas ( ventajas
que generan las empresas en su entorno por su actividad para los agentes restantes) o de deseconomías externas
o costes sociales ( traslación de los costes empresariales a la colectividad).
3.- En una demanda de responsabilidad social de la empresa, basada en la defensa del medio ambiente y
en el desarrollo económico y social o creación de riqueza y de empleo en el sistema social.
La sociedad actual se caracteriza por una mayor sensibilidad al impacto de las actividades sobre el medio
ambiente, es decir, a la empresa actual no sólo se le exige que sea eficiente en la obtención de bienes y
servicios, sino que se interese también por el contexto económico-social en que surge dicho producto.
Podemos entender por responsabilidad social, el compromiso de una empresa con la sociedad y que la
mueve, más allá de lo que exige la ley y la economía, a la fijación y la consecución de una serie de metas que
sean buenas para la sociedad. Esta definición supone que la empresa está dentro de la ley y persigue intereses
económicos.
La responsabilidad social abarca asuntos de naturaleza muy diversa, relativos a sus relaciones con los
trabajadores, con clientes, con proveedores, con competidores, con la comunidad local, es por ello que dentro
de la responsabilidad social se incluirían entre otras muchas cuestiones como: el marco de relaciones laborales
de la empresa, la contribución de la empresa al desarrollo económico y tecnológico de la comunidad en que se
inserta, el patrocinio de actividades culturales o deportivas, la realización de donaciones a entidades de carácter
benéfico, el compromiso de la empresa con la preservación del medio ambiente, la exclusión de prácticas de
competencias desleal etc.
Las empresas en su preocupación por buscar una adecuada y positiva relación con su entorno, se debaten
entre aceptar más o menos, una responsabilidad social. De cualquier forma la empresa actual busca una
transacción entre una determinada aceptación de responsabilidad social a cambio de lo que pueda mejorar su
imagen corporativa. Para su estrategia social se suele apoyar en las siguientes cuestiones:
1.- Desarrollar la función de mecenazgo.
2.- Promocionar socialmente una imagen corporativa de compromiso con el medio ambiente.
3.- Elabora un balance social o informe social, consistente en una comunicación de las aportaciones
efectuadas en favor de los empleados, socios, ciudadanos y medio ambiente.
¡
E
Formulación estratégica
12
4.- Llevar a cabo una política de transparencia informativa, exigido en parte por la actual legislación
mercantil, en relación a la información financiera básica que las empresas deben elaborar
periódicamente.
En conclusión, como se ha observado la empresa es un agente que no sólo se debe preocupar de la
creación de riqueza y del empleo, sino que tiene un compromiso con la ecología. Es de destacar como en los
últimos años en los países industrializados han crecido los movimientos ecologistas. Cuestión que no sólo ha
sensibilizado al ciudadano sino también a la empresa, que ha observado la importancia estratégica y de
negocio que representa dicho “factor” a través del reciclaje de materiales, residuos y basuras. Además, a partir
de los 80 se ha despertado el interés por la ética empresarial o por el replanteamiento del qué, por qué y cómo
la llevan a cabo las empresas.
